.leaflet-container {
  /* 配置 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* 幅、高さ */
  width: auto;
  height: auto;
}

.gakubuti {
  /* 配置 */
  position: relative;

  /* 幅、高さ */
  width: 100vw;
  height: 55rem;
}

.loader {
  /* 配置 */
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* 背景色 */
  background: rgba(255, 255, 255, 0.5);

  /* 優先度 */
  z-index: 9999;
}

.nowlocading {
  /* 余白 */
  margin-top: 1rem;

  /* フォント */
  color: white;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.buttom {
  /* 余白 */
  margin: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  /* 背景色 */
  background-color: blue;
  box-shadow: 0 0 20px black;
  
  /* フォント */
  color: rgba(255, 255, 255);
  font-family: serif;
  font-size: 1.125rem;
  line-height: 2.5rem;

  /* 枠線 */
  border-radius: 0.5rem;

  /* アニメーション */
  transition-property: color, background-color, border, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.buttomflex {
  /* 配置 */
  display: flex;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ↓↓↓ 追加した分 ↓↓↓ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ホバー時 */
.buttom:hover {
  /* 背景色 */
  background-color: rgb(123, 139, 226);

  /* カーソル */
  cursor: pointer;
}

/* チェックボックス非表示 */
input[type="checkbox"] {
  display: none;
}

/* 全ページ共通 */
:root {
  /* フォント */
  font-family: serif;

  /* 制限 */
  user-select: none;
  scrollbar-width: none;      /*** Firefox ***/
  -ms-overflow-style: none;   /*** IE, Microsoft Edge ***/
}
*::-webkit-scrollbar{         /*** Chrome, Safari ***/
  display: none;
}