/************************** Welcome Page **************************/
.welcome {
  /* 配置 */
  position: absolute;
  inset: 0;

  /* 幅、高さ */
  width: 100vw;
  height: auto;

  /* 余白 */
  margin: 0 auto;
  padding: 0;

  /* 背景色 */
  background: radial-gradient(rgb(255, 255, 255), rgb(255, 241, 195));

  /* 表示 */
  overflow: hidden scroll;
}
  
/******************** header ********************/
.welcome header {
  /* 配置 */
  position: relative;
  inset: inherit;

  /* 幅、高さ */
  width: inherit;
  height: 6vh;

  /* 余白 */
  margin: inherit;

  /* 背景色 */
  background: linear-gradient(65deg, skyblue 15%, blue, rgb(135, 153, 235) 80%, rgb(223, 225, 252));
}
.welcome header h1 {
  /* 配置 */
  text-align: center;
  inset: inherit;

  /* 余白 */
  margin: inherit;

  /* フォント */
  font-size: 4vh;
  color: white;
}

/******************** main ********************/
.welcome main {
  /* 配置 */
  position: relative;
  inset: 0;

  /* 幅、高さ */
  width: inherit;
  height: inherit;

  /* 余白 */
  margin: inherit;
}

/*** リスト ***/
.welcome main ul {
  /* 配置 */
  display: flex;
  text-align: center;

  /* 幅、高さ */
  width: 80vw;
  height: inherit;

  /* 余白 */
  margin: 5vh 0 0 15vw;
  padding: 0;

  /* リストスタイル */
  list-style: none;
}
.welcome main ul li {
  /* 幅、高さ */
  width: 30vw;
  height: inherit;

  /* 余白 */
  margin: 0 10vw 0 0;
  padding: inherit;

  /* 背景色 */
  background-color: rgba(0, 0, 0, 0.219);

  /* 枠線 */
  border: solid 0.45rem blue;
  border-top: none;
  border-radius: 1rem;
  box-sizing: border-box;
}
.welcome main ul li h1{
  /* 配置 */
  position: relative;
  inset: 0;

  /* 幅、高さ */
  width: auto;
  height: inherit;
  min-width: 10vw;

  /* 余白 */
  margin: 0 0 0 -0.45rem;
  padding: inherit;
  
  /* 背景色 */
  background: linear-gradient(to right, rgb(127, 215, 250), white);

  /* フォント */
  font-size: 2vh;
  line-height: normal;

  /* 枠線 */
  border-left: solid 1rem rgb(132, 0, 240);
}
.welcome main ul li p {
  /* 配置 */
  position: relative;

  /* 余白 */
  margin: 1vh 0 0 0;
  padding: 0.2vh 0 1vh 0;

  /* フォント */
  font-size: 1vw;
  line-height: normal;
}
.welcome main .buttom {
  /* 配置 */
  position: relative;
  text-align: center;

  /* 幅、高さ */
  width: auto;
  height: 3.5vh;
  min-width: 5vw;

  /* 余白 */
  margin: 0 auto 1vh auto;
  padding: 0 1vw;

  /* フォント */
  font-size: 1vw;
  line-height: 1.5vh;
}

/*** contents ***/
.contents {
  /* 配置 */
  position: relative;
  top: 5vh;

  /* 幅、高さ */
  width: auto;
  height: inherit;
  min-width: 70vw;
  
  /* 余白 */
  margin: 2vh 15vw 10vh 15vw;
  padding: 1vh 0;

  /* 背景色 */
  background-color: rgba(181, 171, 253, 0.473);

  /* 枠線 */
  border: solid 5px rgb(85, 18, 241);
  border-radius: 5rem;
}
.contents h1 {
  /* 幅、高さ */
  width: auto;
  height: 3.5vh;
  min-width: 10vw;
  text-align: center;

  /* 余白 */
  margin: 0 10vw;
  padding: 0.2vh auto;

  /* 背景色 */
  background-color: rgba(255, 255, 255, 0.781);

  /* フォント */
  font-size: 2.5vh;

  /* 枠線 */
  border-left: solid 1rem rgb(255, 230, 0);
  border-right: solid 1rem rgb(255, 230, 0);
}
.contents h2 {
  /* 配置 */
  text-align: left;

  /* 余白 */
  margin: 3vh 2vw 1vh 2vw;
  padding: 0.2vh 0 0.2vh 2vw;

  /* 背景色 */
  background-color: rgba(52, 182, 52, 0.562);

  /* フォント */
  font-size: 1vw;
  color: white;

  /* 枠線 */
  outline: dashed 0.2vw green;
}
.contents p {
  /* 余白 */
  margin: 0 2vw;
  padding: auto;

  /* フォント */
  font-size: 1vw;
}

/******************** footer ********************/
.welcome footer {
  /* 配置 */
  position: relative;
  inset: 0;

  /* 幅、高さ */
  width: 100vw;
  height: 4.5vh;

  /* 余白 */
  margin: inherit;
  padding: 0;

  /* 背景色 */
  background: radial-gradient(skyblue, blue);
}



/******************** お試しレスポンシブ ********************/
/* PC */
@media screen and ((min-height:800px) or (min-width: 1024px)) {
  .welcome {

  }
}
/* タブレット */
@media screen and (min-height: 600px) and (max-height: 800px) {
  .welcome {

  }
}
/* タブレット(小) */
@media screen and (max-height: 600px) {
  .welcome {

  }
}
/* スマホ(大) */
@media screen and (min-width: 380px) and (max-width: 600px) {
  .welcome {

  }
}
/* スマホ(中) */
@media screen and (min-width: 300px) and (max-width: 380px) {
  .welcome {

  }
}
/* スマホ(小) */
@media screen and (max-width: 300px) {
  .welcome {

  }
}